* {
  margin: 0; p
  adding: 0;
  box-sizing:
  border-box;
}

* body {
  font: 13px Helvetica, Arial;
}

* form {
  width:100%;
  background: #02C39A;
  padding: 20px;
  position: fixed; bottom: 0;

}

* form input {
  width: 90%;
  border: 0;
  background: #F5EFED;
  padding: 10px;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.fixed {
        position: fixed;
        width: 13%;
}

.main-jumbotron{
  background-color: #F4F4EB;
  min-height: 600px
  padding:200px 0 140px 0;

}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.top-buffer {
  margin-top:20px;
}

.white-text {
  color: #F4F4EB;
}

.teal-text {
  color: #02C39A;
}

.tealer-background {
  background-color: #00A896;
}

.bluteal-text {
  color: #028090;
}

.blue-text {
  color: #05668D;
}

* #messages {
  list-style-type:
  none; margin: 0;
  padding: 0;
}

* #messages li {
  padding: 5px 10px;
}

* #messages li:nth-child(odd) {
  background: #eee;
}
